body {
	background-color: #efefef;
}

.app {
	margin: auto;
}

.searchbar {
	margin: 3px;
  display: flex;
  height: 40px;
}

.search-input {
	flex-grow: 1;
	outline: none;
	font-size: 18px;
	text-indent: 10px;
	min-width: 0px;
}

.search-submit {
	width: 50px;
	padding: 8px;
	border: none;
	outline: none;
	background-color: #dedede;
}

.artists {
  margin-top: 10px;
  width: 100%;
}

.artist {
	position: relative; /* show content inside */
	display: inline-block;
}

.artist-info {
	position: absolute; /* show inside container */
	top: 3px;
	bottom: 3px;
	left: 3px;
	right: 3px;
	text-align: center;
}

.artist-image {
	width: 100%;
	height: calc(100% - 100px);
	max-width: 250px;
	max-height: 250px;
}

.artist-name {
	font-size: 14px;
}

.artist-station-description {
	font-size: 11px;
	color: gray;
}

/* narrow screen 2 x 3 */
@media screen and (max-width: 768px) {
	.app {
		width: 100%;
		max-width: 500px;
	}

	.artist {
		width: 50%;
		padding-top: calc(50% + 100px);
	}
}

/* wide screen 3 x 2 */
@media screen and (min-width: 769px) {
	.app {
		width: 769px;
	}

	.artist {
		width: 33.3%;
		padding-top: 350px;
	}
}